.favContainer {
  width: 90px;
  height: 90px;
}

.favourites {
  background-color: black;
  height: 200px;
  padding: 10px;
}

.favContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid white;
  background-color: white;
}
